<ion-list>
  <ion-item>
    <ion-label stacked>Address 1</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Address 2</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>City</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>State</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label stacked>Zipcode</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
</ion-list>