<ion-item-sliding 
  #item 
  (ionSwipe)="slideToDetails(item, i)"
  *ngFor="let profile of sampleProfiles; let i = index">
  <ion-item-options side="left">
    <button ion-button icon-only (click)="slideToDetails(item, i)">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-item-options>

  <button ion-item detail-none (click)="toggleProfile(i)" [class.selected-profile]="toggleActive(i)">
    <ng-container item-left>
      <button ion-button clear *ngIf="selectedId === i" color="transparent" (click)="slideToDetails(item, i)">
        <ion-icon color="dark" name="create" float-left></ion-icon>
      </button>
      <ion-thumbnail>
        <img src="profile.images[0]">
      </ion-thumbnail>
  </ng-container>
      
    
    
  <h2>{{ profile.name}}</h2>
  <h3>{{ profile.desc }}</h3>
    <ion-note item-right>
      <button id="cam" ion-button small *ngIf="selectedId === i" color="transparent" (click)="slideToCamera(item, i)">
        <ion-icon color="dark" name="camera"></ion-icon>
      </button>
      
    </ion-note>
  </button>
</ion-item-sliding>