sign-in {
    overflow-x: hidden;

    ion-input {
        border-bottom: .5px solid #06f;
        //border-bottom-width: 100%;

        
    }

    button {
        color: #fff !important;
        
    }
    #login {
        position: absolute;
        z-index: 9999999;
    }
}

.ios sign-in {
    #login {
        top: 113px !important;
        left: 200px;
    }
}
.md sign-in {
    #login {
        top: 170px !important;
        left: 203px;
    }
}
.wp sign-in {
    #login {
        top: 150px !important;
        left: 197px;
    }
}
