page-tabs {

    ion-slide { 
        display: block !important;
        align-items: unset !important;
    }

    #delete, #save, #next, #cam, #flash {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    #opacity-slider {
        min-width: 75vw; 
        margin-left: -15px;
    }

    ion-fab[bottom] {
        margin-bottom: 15px;
    }

    ion-fab[left] {
        margin-left: 5px;
    }
    ion-fab[right] {
        margin-right: 5px;
    }


}
