<ion-header ion-fixed [@fade] *ngIf="getCurrentTab() !== 2">
  <tabs-navbar  
    
    [activeTab]="getCurrentTab()" 
    [profileOptions]="profileService.selectedId !== null"
    [settingsEnabled]="isSettingsVisible" 
    [title]="pageTitle"
    (action)="handleNavbarActions($event)">
  </tabs-navbar>
</ion-header>

<!--  SLIDING TAB CONTENT  -->
<ion-content [@fade] #content>
  <ion-slides 
    #tabs 
    id="tabs" 
    centeredSlides="false" 
    initialSlide="1"
    (ionSlideDidChange)="lockTabs()"
    (ionSlideWillChange)="resizeTabs()">

    <ion-slide id="details-slide">
      <profile-details [profile]="selectedProfile" (profileRemoved)="deleteProfile($event)"></profile-details>
    </ion-slide>

    <ion-slide id="profiles-slide">
      <profiles-list id="profile-list" (changeProfile)="toggleProfile($event)"></profiles-list>
    </ion-slide>

    <ion-slide id="camera-slide">
        <img *ngIf="isPicTaken">
    </ion-slide>
  </ion-slides>
</ion-content>
<!--  END TABS -->

<!--  CAMERA FAB CONTROLS  -->
<ng-container *ngIf="getCurrentTab() === 2">
  <ion-fab 
    [@fade]
    top 
    left 
    #opacityFab 
    *ngIf="!isPicTaken">

    <button 
      id="opacity"
      ion-fab
      mini 
      color="transparent"
      (click)="toggleOpacity()">
      <ion-icon  color="i-faze" [name]="opacityOpen ? 'close' : 'switch'"></ion-icon>
    </button>
    <ion-fab-list [@fadeIn] side="right">
      <ion-range 
        #opacityRange
        [(ngModel)]="opacity"
        min="0"
        max="100"
        color="i-faze"
        id="opacity-slider">
        <ion-label color="i-faze" range-left>0</ion-label>
        <ion-label color="i-faze" range-right>{{ opacityRange.value || 0 }}</ion-label>
      </ion-range>
    </ion-fab-list>
  </ion-fab>

  <ion-fab
    id="flash"
    top 
    right
    [@fadeIn]
    *ngIf="!isPicTaken && !isOpacityOpen">
    <button 
        ion-fab 
        mini 
        color="transparent"
        (click)="toggleFlash()">
        <ion-icon color="i-faze" [name]="isFlashOn ? 'sunny' : 'moon'"></ion-icon>
    </button>
  </ion-fab>
</ng-container>

<!--  LEFT FAB BUTTON  -->
<ng-container *ngIf="getCurrentTab() !== 1">
  <ion-fab 
    left 
    bottom
    [@slideFromLeft]="getCurrentTab() === 2 ? 'in' : 'out'"
    *ngIf="getCurrentTab() === 2">
    <button 
      ion-fab 
      mini
      *ngIf="!isPicTaken" 
      color="transparent"
      (click)="slideToProfiles()">
      <ion-icon color="i-faze" name="arrow-back"></ion-icon>
    </button>

    <button
      id="save"
      ion-fab 
      mini
      color="transparent"
      *ngIf="isPicTaken">
      <ion-icon color="i-faze" name="download"></ion-icon>
    </button>
  </ion-fab>
  
  <!--  CENTER FAB BUTTON  -->
  <ion-fab 
    center 
    fixed
    bottom 
    [@fade] 
    *ngIf="getCurrentTab() === 2">
    <button
      ion-fab 
      id="camera-button"
      color="transparent"
      *ngIf="!isPicTaken" 
      (click)="capturePreview()">
      <ion-icon color="i-faze" name="camera"></ion-icon>
    </button>
    <button 
      ion-fab 
      id="delete" 
      color="transparent" 
      *ngIf="isPicTaken" 
      (click)="deletePreview()">
      <ion-icon color="faze" name="close"></ion-icon>
    </button>
  </ion-fab>
  
  <!--  RIGHT FAB BUTTON  -->
  <ion-fab 
    [@slideFromRight]="getCurrentTab() === 2 ? 'in' : 'out'" 
    right 
    bottom>
    <button 
      ion-fab 
      mini
      color="i-faze"
      *ngIf="getCurrentTab() === 0" 
      (click)="slideToProfiles()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>

    <ng-container *ngIf="getCurrentTab() === 2">
      <button 
        ion-fab 
        mini
        *ngIf="!isPicTaken"
        [color]="isFrontFacing ? 'transparent' : 'faze'" 
        (click)="switchCamera()">
        <ion-icon color="i-faze" [name]="isFrontFacing ? 'reverse-camera' : 'person'"></ion-icon>
      </button>
  
      <button 
        id="next"
        ion-fab 
        mini
        color="transparent"
        *ngIf="isPicTaken">
        <ion-icon color="i-faze" name="return-right"></ion-icon>
      </button>
    </ng-container>
  </ion-fab>
</ng-container>



