page-tabs {
    ion-page, ion-content {
        background-color: transparent !important;
    }    

    #profiles-slide, #details-slide {
        background: #fff;
        overflow-y: auto !important;
    }
    ion-header {
        background: color($colors, faze, base);
    }

    ion-slide { 
        height: auto;
        display: block !important;
        align-items: unset !important;
    }

    #delete, #save, #next, #flash, #opacity {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    #opacity-slider {
        min-width: 75vw; 
        margin-left: -15px;
    }

    ion-fab[left] {
        margin-left: 10spx;
    }
    ion-fab[right] {
        margin-right: 10px;
    }

    ion-fab {
        margin-bottom: 15px;
    }

    #camera-button {
        border: 2px solid color($colors, faze, base);
        
    }

    #delete {
        border: 6px solid color($colors, faze, contrast);
        font-size: 5rem !important;
    }

    #camera-button, #delete {
        border-radius: 50%;
    }

    .ios ion-modal {
        $height: $toolbar-ios-height;
        .modal-content {
            position: absolute;
            top: $height !important;
        }
    }
    
    .md ion-modal {
        .modal-content {
            position: absolute;
            top: $toolbar-md-height !important;
        }
    }
    
    .wp ion-modal {
        .modal-content {
            position: absolute;
            top: $toolbar-wp-height !important;
        }
    }


    ion-footer {
        z-index: 99999999999;
    }
    
}


