<ion-list>
  <ion-item>
    <ion-label stacked>First name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Last name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Display name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Phone</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>